{% extends "root.html" %}
{% block content %}
<div style="width:95%; display: block; margin-left: auto; margin-right: auto">
    <tbody>
    <table class="table" style="text-align:center;">
        <tbody>
            <tr>
                <td style="vertical-align: middle;" width="80%">
                    <input class="form-control" id="pollyinputid" placeholder="Enter something for Polly to say...">
                </td>
                <td>
                   <select class="form-control" id="voice">
                        {% for voice in voices %}
                            {% if voice['Name'] == 'Geraint' %}
                                <option value='{{ voice['Name'] }}' selected>{{ voice['Name'] }}, {{ voice['LanguageName'] }}, {{ voice['Gender'] }}</option>
                            {% elif 'English' in voice['LanguageName'] or 'French' in voice['LanguageName'] %}
                                <option value='{{ voice['Id'] }}'>{{ voice['Name'] }}, {{ voice['LanguageName'] }}, {{ voice['Gender'] }}</option>
                            {%  endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
    </table>
    <button type="button" class="btn btn-primary" onclick="itsAlive()">Talk</button>
    </tbody>
</div>

<script src="static/js/polly.js"></script>

{% endblock %}