{% extends "root.html" %}
{% block content %}
<style>
    .table>tbody>tr>td,
    .table>tbody>tr>th {
        border-top: none;
    }
</style>
<div style="width:95%; display: block; margin-left: auto; margin-right: auto">
    <tbody>
        <table class="table" style="text-align:center; border-collapse: collapse">
            <tbody>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-default" onclick=changecamera() style="width: 150px">Change Camera</button>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">
                        <div><h3>Webcam Input</h3></div>
                        <video id="videoCanvas" width="320" height="240" style="border: 10px #333 solid; background-color: #666;" autoplay></video>
                    </td>
                    <td style="vertical-align: middle;">
                        <div><h3>Image Sent To Rekognition</h3></div>
                        <canvas id="outputCanvas" width="320" height="240" style="border: 10px #333 solid; background-color: #666;"></canvas>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-lg btn-info"" onclick=rekognise() style="width: 300px">What am I lookin' at!?</button><br>
                        <select class="form-control" id="voice" style="width: 300px; display: block; margin:0 auto;">
                            {% for voice in voices %}
                                {% if voice['Name'] == 'Geraint' %}
                                    <option value='{{ voice['Name'] }}' selected>{{ voice['Name'] }}, {{ voice['LanguageName'] }}, {{ voice['Gender'] }}</option>
                                {% elif 'English' in voice['LanguageName'] %}
                                    <option value='{{ voice['Id'] }}'>{{ voice['Name'] }}, {{ voice['LanguageName'] }}, {{ voice['Gender'] }}</option>
                                {%  endif %}
                            {% endfor %}
                        </select>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p id="regoktext"></p>
                    </td>
                </tr>
        </table>
    </tbody>
</div>

<script src="static/js/rekognition.js"></script>

{% endblock %}