{% extends "root.html" %}
{% block content %}
<div style="width:95%; display: block; margin-left: auto; margin-right: auto">
    <tbody>
        <table class="table" style="text-align:center;">
            <tbody>
                <tr>
                    <td style="vertical-align: middle;">
                        <div><h3>Webcam Input</h3></div>
                        <video id="videoCanvas" width="320" height="240" style="border: 10px #333 solid; background-color: #666;" autoplay></video>
                    </td>
                    <td style="vertical-align: middle;">
                        <div><h3>Image Sent To Rekognition</h3></div>
                        <canvas id="outputCanvas" width="320" height="240" style="border: 10px #333 solid; background-color: #666;"></canvas>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-success" onclick=rekognise() style="width: 250px">What am I lookin' at!?</button>
                        <select class="form-control" id="voice" style="width: 250px; display: block; margin:0 auto;">
                            {% for voice in voices %}
                                {% if voice['Name'] == 'Geraint' %}
                                    <option value='{{ voice['Name'] }}' selected>{{ voice['Name'] }}, {{ voice['LanguageName'] }}, {{ voice['Gender'] }}</option>
                                {% elif 'English' in voice['LanguageName'] %}
                                    <option value='{{ voice['Id'] }}'>{{ voice['Name'] }}, {{ voice['LanguageName'] }}, {{ voice['Gender'] }}</option>
                                {%  endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p id="regoktext"></p>
                    </td>
                </tr>
        </table>
    </tbody>
</div>

<script>
// Grab elements, create settings, etc.
var video = document.getElementById('videoCanvas');
// Get access to the camera!
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true}, handleVideo, videoError);
}

function handleVideo(stream) {
    if (window.webkitURL) {
        video.src = window.webkitURL.createObjectURL(stream);
    } else {
        video.src = stream;
    }

    video.addEventListener('playing', function() {
    document.getElementById("videoCanvas").width = this.videoWidth;
    document.getElementById("videoCanvas").height = this.videoHeight;

    document.getElementById("outputCanvas").width = this.videoWidth - 20;
    document.getElementById("outputCanvas").height = this.videoHeight - 20;
    }, false);

    video.play();
}

function videoError(e) {
    // do something
}

function rekognise() {
// Get polly voice
    document.getElementById("regoktext").innerHTML = "Gimme a sec... Just trying to figure out what this is!";
    var pollyVoice = document.getElementById('voice').value;

    // Elements for taking the snapshot
    var canvas = document.getElementById('outputCanvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('videoCanvas');

    context.drawImage(video, 0, 0, canvas.width, canvas.height);

    var image = canvas.toDataURL("image/jpeg");

    // Get details from server
    $.ajax({
        type: "POST",
        url: '/rekognise',
        data: {'data': image, 'voice': pollyVoice},
        success: function(response){
            var audio = new Audio(response['result'][0]);
            audio.play();
            document.getElementById("regoktext").innerHTML = response['result'][1];
        }
       })
}

</script>

{% endblock %}